ultralytics
flask
pillow
flask-cors
python-dotenv
numpy
opencv-python-headless
easyocr
matplotlib
pytesseract
tensorflow==2.19.0
Augmentor
celery
requests
boto3
pdf2image
langgraph
pdfplumber
inngest 
openai-agents
